#footer-table-header {
  padding-bottom: 10px;
}
td {
  padding-right: 40px;
}

/* ----------------Khloud-------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 16px;  kholooodd */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading-one {
  font-size: 3rem;
}

p {
  color: #4a4a4a;
}

.Pricing-section {
  margin: 5% auto;
  text-align: center;
  max-width: 500px;
}

.pricing-table {
  margin: 7%;
  /* padding: 2% 3%; */
  border: solid 1px #143d8d;
  border-radius: 20px;
  text-align: center;
}
/* 
  .pricing-table {
  } */

.start-heading {
  /* margin: 0;
    padding: 0; */
  padding: 3%;
  width: 100%;
  background-color: #143d8d;
  border-radius: 20px 20px 0 0;
  color: #fff;
  font-size: 2rem;
}

.points-section {
  padding: 3%;
  font-size: 1.5rem;
  text-align: left;
}

.price-section {
  background-color: #f3f3f4;
  border-top: 1px solid #143d8d;
  border-radius: 0 0 20px 20px;
  padding: 3%;
}

.price-section-content {
  margin: 4%;
}

.price-section p:nth-child(2) {
  font-size: 2.5rem;
}

.billing-section {
  padding: 2%;
  position: relative;

  border-bottom: 1px solid #b6b6b6;
}

.billing-section h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

.billing-section p span {
  font-weight: bold;
  color: #000;
}

.toggle-btn {
  /* position: absolute;
  top: 15%;
  left: 2%; */
  /* transform: translate(-50%, -50%); */
  /* transform: translate(-30%, 20%); */
  margin: 2.5%;
}

input[type="checkbox"] {
  transform: translate(-30%, 20%);
  position: relative;
  width: 50px;
  height: 25px;
  appearance: none;
  background-color: #8a8989;
  outline: none;
  border-radius: 20px;
  transition: 0.5s;
}

input:checked[type="checkbox"] {
  background: #ffc107;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  top: 1%;
  left: 5%;
  background-color: #fff;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

input:checked[type="checkbox"]:before {
  left: 47%;
}

.check-feature-section {
  padding: 3%;
}

.check-feature-section p {
  font-weight: bold;
}

.check-feature-section .btn-container button {
  padding: 2%;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 5px;
}

/* .check-feature-section button:hover {
  background-color: #ffc107;
  background-color: 1px solid #ffc107;
  color: #fff;
  transition: 0.5s;
} */

.check-feature-section .btn-container {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* margin: auto; */
  transform: translate(-50%, -50%);
}

.check-feature-section .btn-container button:hover {
}
/* -------------------------- */
