#footer-table-header {
  padding-bottom: 10px;
}
td {
  padding-right: 40px;
}

/* ----------------Khloud-------------------- */
/* Pricing component */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p::first-letter{
  text-transform: uppercase;
}

.heading-one {
  font-size: 3rem;
}

.Pricing-section p,
.features p {
  color: #4a4a4a;
}

.Pricing-section {
  margin: auto;
  text-align: center;
  max-width: 550px;
  font-size: 16px;
}

.pricing-table2 {
  background-color: #e8f0ff;
  position: absolute;
  height: 750px;
  border-radius: 20px;
  text-align: center;
  transform: rotate(-12deg) translateX(-15%) translateY(2%);
  z-index: 1;
}

.pricing-table3 {
  background-color: #fff6dc;
  position: absolute;
  height: 750px;
  border-radius: 20px;
  text-align: center;
  transform: rotate(8deg) translateX(5%) translateY(2%);
  z-index: 0;
}
.pricing-table {
  position: relative;
  margin: 7%;
  /* padding: 2% 3%; */
  border: solid 1px #143d8d;
  border-radius: 20px;
  text-align: center;
  background-color: white;
  z-index: 2;
}
/* 
  .pricing-table {
  } */

.start-heading {
  /* margin: 0;
    padding: 0; */
  padding: 3%;
  width: 100%;
  background-color: #143d8d;
  border-radius: 20px 20px 0 0;
  color: #fff;
  font-size: 2rem;
}

.points-section {
  padding: 3%;
  font-size: 1.5rem;
  text-align: left;
}

.points-section p {
  padding: 2% 3%;
}

.points-section > p:nth-child(-n + 3) {
  font-size: 1.3rem;
  font-weight: bold;
}

.points-section p span {
  padding-right: 5%;
}

.price-section {
  background-color: #f3f3f4;
  border-top: 1px solid #143d8d;
  border-radius: 0 0 20px 20px;
  padding: 3%;
}

.price-section-content {
  margin: 4%;
}

.price-section p:nth-child(2) {
  font-size: 2.5rem;
}

.billing-section {
  padding: 2%;
  position: relative;

  border-bottom: 1px solid #b6b6b6;
}

.billing-section h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

.billing-section p span {
  font-weight: bold;
  color: #000;
}

/* toggle btn style */
.toggle-btn {
  /* position: absolute;
  top: 15%;
  left: 2%; */
  /* transform: translate(-50%, -50%); */
  /* transform: translate(-30%, 20%); */
  margin: 2.5%;
}

input[type="checkbox"] {
  transform: translate(-30%, 20%);
  position: relative;
  width: 50px;
  height: 25px;
  appearance: none;
  background-color: #8a8989;
  outline: none;
  border-radius: 20px;
  transition: 0.5s;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

input:checked[type="checkbox"] {
  background: #ffc107;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  top: 1%;
  left: 5%;
  background-color: #fff;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

input:checked[type="checkbox"]:before {
  left: 47%;
}

/* end of toggle btn style */

.check-feature-section {
  padding: 3%;
}

.check-feature-section p {
  font-weight: bold;
}

.check-feature-section .btn-container button {
  padding: 2%;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  transition: all 0.4s linear;
  position: relative;
}

/* featureItem styling */
.featureItem-section {
  display: flex;
  width: 70%;
  margin: 5% auto;
  padding: 2% 3% 0.5% 3%;
  font-size: 16px;

  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

.img-container {
  padding-right: 5%;
}

.img-container img {
  height: 300px;
  width: 400px;
}

.featureText-container h4 {
  margin-bottom: 4.5%;
  font-size: 2.5rem;
  font-weight: 500;
}

.featureText-container p {
  font-size: 1.3rem;
  text-align: justify;
}

/* Feature component styling */
.features {
  text-align: center;
  margin: 5%;
}

.feature-img-container {
  position: relative;
  margin-top: 11%;
}

.feature-icon {
  display: inline-block;
  position: relative;
  width: 110px;
  height: 110px;
}

.feature-icon1 {
  position: absolute;
  top: -8%;
  left: 20%;
  animation-name: moveUp;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: all 2s;
}

.feature-icon1 svg {
  position: absolute;
  transform: translate(-60%, -115%) rotate(180deg) scaleY(200%);
  z-index: -1;
}

.feature-icon2 {
  position: absolute;
  top: -15%;
  right: 20%;
  animation-name: moveUp;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: all 2s;
}

.feature-icon2 svg {
  position: absolute;
  transform: translate(-25%, -45%) rotateX(180deg) scaleY(200%);
  z-index: -1;
}

.feature-img {
  display: inline-block;
  position: relative;
  height: 466px;
  animation-name: moveUp;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: all 2s;
  z-index: -1;
}

.feature-comparision-section {
  margin: 5%;
}

.feature-text-container {
  text-align: center;
  /* margin-bottom: 15px; */
}

.feature-text-container p:nth-child(2) {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1px;
}

.feature-text-container p:nth-child(3) {
  color: #000;
}

.feature-comparision-container {
  border: 1px solid #c4c4c4;
  border-radius: 20px;
  margin: auto;
  width: 80%;
  text-align: center;
}

.table {
  margin-bottom: 0 !important;
}

.feature-comparision-table thead {
  border-bottom: 1px solid #c4c4c4;
}

.feature-comparision-table thead tr th:nth-of-type(2),
.feature-comparision-table tbody tr td:nth-of-type(2) {
  background-color: #e8f0ff;
  border-left: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
}

.feature-comparision-table thead tr th,
.feature-comparision-table tbody tr td {
  padding: 2.5%;
  width: 30%;
}

.top-react-icons {
  fill: #2b59b4;
}

/* divider section style */
.divider-component {
  margin-top: 5%;
  margin-bottom: 5%;
}
.divider-component h3 {
  text-align: center;
  font-size: 2rem;
}

.divider-section {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 8%;
}

/* dividerItem section style */
.dividerItem-section {
  position: relative;
  width: 90%;
  height: 500px;
  margin-right: 1%;
}

.dividerItem-section hr {
  position: absolute;
  top: 3%;
  right: 8%;
  width: 70%;
}

.dividerItem-section * {
  margin-bottom: 3%;
}

.dividerItem-section p {
  width: 80%;
  text-align: left;
  line-height: 1.7rem;
}

.dividerItem-number-container {
  border: 2px solid #c4c4c4;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  line-height: 60px;
}

.divider-img-container img {
  height: 250px;
  width: 80%;
}

/* -------------------------- */

/* ------------Data accurasy-------------- */
.Data-section {
  margin: 5% auto;
  text-align: center;
  max-width: 50%;
}

.p-one {
  font-size: 1.5rem;
}
.title {
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-left: 20%;
}

.tabel {
  border-spacing: 0;
  border-collapse: collapse;
  border-style: hidden;
  width: 100%;
  /* height: 100%; */
}

.bordertabel {
  overflow: auto;
  border: solid 1px #545454;
  border-radius: 20px;
  width: 100%;
  /* height: 850px; */
  text-align: center;
}

.thead {
  background-color: #143d8d;
  color: white;
  height: 3.5rem;
  font-size: 1.2rem;
}
.rent,
.asking-price {
  height: 2.5rem;
  padding: 5px 0px;
}
.rent {
  background-color: #e8f0ff;
}
.tabels {
  margin-bottom: 5%;
}

/* ---------Contact form----------  */
.lbl {
  font-size: 14px;
}

/*------------------Login page---------------*/

.welcomSection,.welcomSection2 {
  text-align: center;
  height: 200px;
  margin: 3% auto 0;
}
.welcomSection2{
height: 365px;
}

.bground {
  height: 500px;
  width: 100%;
}

.bg {
  width: inherit;
  height: inherit;
}
.form {
  background-color: white;
  position: absolute;
  top: 33%;
}

/* ---------Slider----------  */

.slick-dots li.slick-active button:before {
  color: #2b59b4 !important;
  font-size: 15px !important;
}

.slick-dots li button:before {
  font-size: 12px !important;
  top: 15px !important;
  color: grey !important;
}
/* ----------------------------------------profile------------------------------------------- */

.user-section{
  background-color: #F3F3F4;
  height: 250px;
  border-radius: 10px;
  position: relative;
  margin-top: 6%;
}
.input{
  display:block;
  margin-left:35%;
  margin-bottom: 2%;
}

.black , .black::placeholder{
  color: #000;
  font-size: 1.1rem;
}
.name , .name::placeholder{
  color: #143D8D ;
  font-size:"1.8rem";
  font-weight: bolder;
}
.location , .location::placeholder{
  color:#909090;
  font-size:"1.1rem";
  
}
.user-image{ 
  border-radius: 50%;
  top:-35px;
  left:-45px
}

.parasmallcon{
  width: 100%;
}

#image-radius{
  border-radius: 20px;
}
.content {
  position: relative;
  /* width: 90%;
  max-width: 400px;
  margin: auto; */
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}
.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 20%;
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 35%;
  left: 1%;
  opacity: 1;
}
.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}



.fadeIn-top{
  top: 20%;
}
/*-----------------------------------------home----------------------------------------*/

#cover {
  height: 640px;
  overflow: hidden;
}

#coverimg {
  box-sizing: border-box;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-animation: coverimg 6s ease-in-out 1s infinite alternate both;
  animation: coverimg 6s ease-in-out 1s infinite alternate both;
}

#animatio-one {
  -webkit-animation: limg 6s ease-in-out 1s infinite alternate both;
  animation: limg 6s ease-in-out 1s infinite alternate both;
}

#animatio-two {
  -webkit-animation: rimg 6s ease-in-out 1s infinite alternate both;
  animation: rimg 6s ease-in-out 1s infinite alternate both;
}

#animation-dealSection {
  -webkit-animation: animation-dealSection 10s ease-out 1s infinite alternate
    both;
  animation: animation-dealSection 10s ease-out 1s infinite alternate both;
}

#triangle-down {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid #ffc107;
  position: relative;
}

#triangle-down:after {
  position: absolute;
  color: rgb(0, 0, 0);
  top: -95px;
  left: -30px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid transparent;
  content: "2";
}

#triangle-down-5 {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid #ffc107;
  position: relative;
}

#triangle-down-5:after {
  position: absolute;
  color: rgb(0, 0, 0);
  top: -95px;
  left: -30px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid transparent;
  content: "5";
}

@keyframes coverimg {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.05) translateY(-5px);
    transform: scale(1.05) translateY(-5px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes limg {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  80% {
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
  }
  100% {
    -webkit-transform: translate(150%, 100%);
    transform: translate(150%, 100%);
  }
}

@keyframes rimg {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  80% {
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%);
  }
  100% {
    -webkit-transform: translate(-150%, -100%);
    transform: translate(-150%, -100%);
  }
}

@keyframes animation-dealSection {
  0% {
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%);
  }
  80% {
    -webkit-transform: translateX(180%);
    transform: translateX(180%);
  }
  100% {
    -webkit-transform: translate(180%, 0%);
    transform: translate(180%, 0%);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(-7%);
  }
  100% {
    transform: translateY(-21%);
  }
}

/* -----------------MEDIA QUEREY---------------- */
@media (max-width: 1200px) {

  .featureItem-section {
    flex-direction: column;
    text-align: center;
  }

  .featureText-container p {
    text-align: center;
  }
}
/* medium */
@media (max-width: 1000px) {
  .feature-icon1 {
    top: -8%;
    left: 10%;
  }

  .feature-icon2 {
    top: -15%;
    right: 10%;
  }

  .divider-section {
    flex-direction: column;
    text-align: center;
  }

  .divider-section p {
    text-align: center;
  }

  .divider-img-container img {
    width: 60%;
  }
  .dividerItem-section hr {
    top: 55%;
    right: 66%;
    width: 60%;
    transform: rotate(90deg);
  }
  .rightContainer {
    margin-top: -55px;
  }
}
/* small */
@media (max-width: 850px) {
  .dividerItem-section hr {
    top: 55%;
    right: 60%;
    width: 60%;
    transform: rotate(90deg);
    width: 72%;
  }
}

@media (max-width: 750px) {
  .feature-icon {
    width: 90px;
    height: 90px;
  }
  .feature-img-container {
    margin-top: 25%;
  }
  .feature-icon1 {
    top: -8%;
    left: 0%;
  }

  .feature-icon2 {
    top: -15%;
    right: 0;
  }

  .img-container img {
    width: 200px;
  }
  .dividerItem-section hr {
    top: 55%;
    right: 56%;
    transform: rotate(90deg);
    width: 78%;
  }
}
/* x-small */

@media (max-width: 555px) {
  .feature-img-container {
    margin-top: 30%;
  }

  .feature-icon1 {
    top: -10%;
  }

  .feature-icon2 {
    top: -15%;
  }
  .feature-icon1 svg {
    transform: translate(-75%, -110%) rotate(180deg) scaleY(180%);
  }

  .feature-icon2 svg {
    transform: translate(-10%, -50%) rotateX(180deg) scaleY(180%);
  }

  .dividerItem-section hr {
    top: 50%;
    right: 43%;
    width: 100%;
  }
}

/*--------------------------data to rely on-----------------------*/
#slide {
  width: 13%;
}

.slick-prev,
.slick-next {
  font-size: 30px !important;
}
.slick-prev:before,
.slick-next:before {
  color: grey !important;
  font-size: 30px !important;
}


/* --------------------profile recommendation section----------------------- */
@media screen and (max-width: 1600px){
  .largecon{
    display: flex;
    justify-content: space-between;
  }

  .smallcon{
    width:24%;
    overflow: hidden;
    display:block
  }
  .fullDiv{
    width:100%;
  }
}

@media screen and (max-width: 770px){
  .largecon{
    display: block;
  }

  .smallcon{
    width:95%;
    overflow: hidden;
    display: flex;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  .fullDiv{
    width:50%;
  }
}


/* display button on hover */
#btnView{
  border:'white 2px solid';
  display: none;
  position:absolute;
  top: 40%;
  left:30%;
}
#btnView:hover{
  display: block;
  color:white;
}

#imgProp:hover + #btnView{
    display: block;
}
